<div class="post">
	<h1>Resources</h1><br />
	<ul>
		<li><a href="https://www.google.bg">Social Media Success Metrics</a></li>
		<li><a href="https://www.google.bg">Marketer's Toolkit</a></li>
		<li><a href="https://www.google.bg">AMA's Marketing Resource Directory</a></li>
		<li><a href="https://www.google.bg">White Papers</a></li>
		<li><a href="https://www.google.bg">Research Reports</a></li>
		<li><a href="https://www.google.bg">Case Studies</a></li>
		<li><a href="https://www.google.bg">Best Practices</a></li>
		<li><a href="https://www.google.bg">Specialized Directories</a></li>
	</ul>	
</div>